* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



// Login component
.login-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33vw;
        height: 50vh;
        border-radius: 1rem;
        border: 1px solid black;

        .input-fields-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 50%;
            gap: 1rem;
        }
    }
}