$theme-color: #e47b3a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// App component
.app-component {
    width: 100vw;
    height: 100vh;
    background-color: $theme-color;
}

// Navbar component
.navbar-component {
    width: 100vw;
    display: flex;
    justify-content: center;

    .navbar {
        width: 80%;
        max-width: 33%;
        height: 2.5rem;
        background-color: black;
        margin: 1rem 0;
        border-radius: 1rem;
        box-shadow: 0.1px 0.1px 4px black;

        ul {
            height: inherit;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;

            .nav-link {
                color: white;
                cursor: pointer;
                text-decoration: none;
            }
            .nav-link:hover {
                color: grey;
            }
        }
    }
}


// Login component
.login-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33vw;
        height: 50vh;
        border-radius: 1rem;
        border: 1px solid black;

        .input-fields-container {
            display: flex;
            flex-direction: column;
            width: 50%;
            height: 50%;
            gap: 1rem;
        }
    }
}